body{
	background: linear-gradient(45deg, red, blue);
}
.ere{
	text-align: center;
  	font-size: 50px;
  	color: black;
}
.gotothelogin{
	text-align: center;
  	font-size: 50px;
  	background: #252526;
  	position: absolute;
  	top: 200px; 
  	left: 200px;
  	right: 200px;
  	bottom: 700px;
  	text-align: center;
}